p, h1, h2, h3, h4, a, button, label, input {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.50rem;
}

.no-info {
    font-size: 1.50rem;
}

.accueil-info {
    background-color: #c8c8c8;
    margin: 10px 50px;
    padding: 0 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

.accueil-info p {
    font-size: 1.25rem;
}

#accueil-display-fav {
    margin: auto;
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 280px;
}

.accueil-fav {
    padding-top: 10px;
}

#another-track {
    width: 300px;
}

#no-favoris {
    display: none;
}

/* SEARCH */

#no-result, #minimum-carac {
    display: none;
    margin: auto;
    width: 80vw;
}

#minimum-carac {
    color: red;
    text-align: center;
    font-size: 1.50rem;
}

.search-form {
    align-items: baseline;
    justify-content: center;
}

.search-form label {
    padding-right: 10px;
}

.accueil-info .search-form input {
    margin-right: 50px !important;
    min-width: 400px;
}

.accueil-info .search-form .input-group-prepend {
    min-width: 170px;
    margin-right: 50px;
}

.accueil-info .search-form .input-group-prepend button {
    min-width: 100%;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#search-result,
.favoris-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    width: 75vw;
}

/* Tracks */

.infos-track {
    display: flex;
    align-items: center;
}

.infos-track > div {
    padding-left: 5px;
    width: calc(100% - 61px);
}

.track > div,
.track > audio {
    padding-bottom: 10px;
}

.track {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    max-width: 300px;
}

#search-result .track .favorite-added,
.favoris-list .track .favorite-added,
.accueil-fav .track .favorite-added
{
    background-color: red;
}

.title{
    font-weight: bold;
    padding-bottom: 5px;
}

.artist-album {
    width: 100%;
}

#next-results-cnt {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}